body {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

aside, form {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

aside {
    justify-content: space-around;
    width: 35vw;
    align-items: center;
}

form {
    justify-content: center;
    width: 65vw;
}

img, h1 {
    display: inline;
}

.fields {
    display: flex;
}